# MakeJames .gitignore

*~
.fuse_hiddni*
.directory
.Trash-*
.nfs*
*.tmp

.DS_Store
.AppleDouble
.LSOverride
.Trashes
._*

.vscode
.vscode*
.history

*_history

.cache

# Swap
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
