[core]
    excludesfile = $HOME/.gitignore
[user]
    name = makejames
    email = james@makejames.com
[init]
    defaultBranch = main
[format]
    pretty = format:%C(auto)%h %C(green)%aN%Creset %s
[credential "https://gitlab.com"]
    helper = !/usr/bin/glab auth git-credential
